[Unit]
Description={{ nodeservice_name }}
Wants=network-online.target
After=network-online.target
 
[Service]
User={{ user }}
Group={{ group }}
Restart=on-failure
Type=simple
ExecStart={{ exec_command }}
 
[Install]
WantedBy=multi-user.target
